html {
  height: 100%;
}
body {
  background-color: rgb(255, 255, 255);
  background: url("/img/bg.jpg") no-repeat bottom;
  background-size: 1000px;
  color: rgb(44, 44, 44);
  font-family: 'Courier New', Courier, monospace;
  caret-color: rgb(44, 44, 44);
  width: 1100px;
  margin: auto;
  min-height: 90%;
  /* border: solid rgb(44, 44, 44); */
}

.hidden {
  display: none;
  transition: 5s;
}

.transparent {
  opacity: 0;
  transition: 1s;  
}

.chatBox {
  width: 700px;
  border: 1px solid black;
  height: 500px;
  display: flex;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.74);
  margin: 90px auto;
  box-shadow: 5px 5px 2px;
  transition: 3s;
  opacity: 1;
}

#resBox {
  height: 470px;
  overflow:auto;
  padding: 20px;
  display: flex;
  justify-content: center;

}

#msgBox {
  height: 30px;
  margin: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  border: 1px solid black;
}

#footer {
  display: inline;
  text-align: center;
  padding: 2px;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.699);
}

img {
  width: 200px
}

button {
  background-color: rgb(255, 255, 255);
  border: solid rgb(44, 44, 44) 1px;
  color: rgb(44, 44, 44);
  transition: 0.3s;
  margin-left: 5px;
}

#button:hover {
  cursor: pointer;
  transition: 0.1s;
  font-size: large;
}

button#nameBtn {
  background-color: black;  
  border: none;
  color: white;
  text-shadow: 0px 0px 10px white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  transition: 0.3s;
}

button#nameBtn:hover {
  font-size: 150px;;
  cursor: pointer;
  transition: 0.3s;  
  text-shadow: 0px 0px 20px yellow;
}

button#nameBtn:hover ~ label {
  opacity: 0;
  transition: 0.5s;
}

button#nameBtn:hover ~ input#name {
  font-size: 80px;
  height: 80px;
  width: auto;
  border: none;
  box-shadow: none;
  transition: 1s;
}

span {
  transition: 3s;
  margin: 1%;
}
span:hover {
  text-shadow: 2px 2px 5px rgb(230, 255, 5);
  transition: 0.4s;
  cursor: default;
  font-weight: bold;
  font-size: 20px;
}

span#enter {
  font-size: 20px;
}

p {
  text-align: center;
}

.centerDiv {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 1000;
  left: 0px;
  display: flex;
}

#nameForm {
  color: rgb(240, 240, 240);
  text-shadow: 0px 0px 10px rgb(231, 231, 231) ;
  margin: auto;
  font-size: 50px;
  text-align: center;
}

input#name {  
  height: 30px;
  width: 500px;
  text-align: center;
  caret-color: rgb(255, 255, 255);
  font-size: 20px;
}

input#name:focus {
  border: none;
}

.whiteGlow {
  background-color: black;
  border: 1px solid white;
  box-shadow: 0px 0px 10px white;  
  color: white;
  text-shadow: 0px 0px 10px white;
  font-family: 'Courier New', Courier, monospace;
}